<div class="container">
    <div id="content" class="main content-container">
        <section class="primary-content" role="main">
            <div class="page-block newest-heroes-container">
                <div class="bg-color-blue-dark u-invert">
                    <section id="overview-section" class="bg-gibraltar u-nav-offset">
                        <div class="u-relative">
                            <div ng-if="vm.profileAvatar.length > 0" class="masthead-hero-image" ng-style="{'background-image':'url(https://d1u1mce87gyfbn.cloudfront.net/hero/'+vm.profileAvatar+'/overlay-portrait.png)'}"></div>
                            <div class="page-wrapper row content-box">


                                <p class="masthead-detail h4" style="text-align: center" ng-if="vm.profile.length < 1">
                                    LOADING...
                                </p>


                                <div class="column lg-8" ng-show="vm.profile.player">
                                    <div class="masthead">
                                        <div style="background-image:url(https://d1u1mce87gyfbn.cloudfront.net/game/playerlevelrewards/0x025000000000091C_Border.png)"
                                            class="player-level">
                                            <div class="u-vertical-center colorIsWhite">{{vm.profile.player.level}}</div>
                                        </div>
                                        <div class="masthead-player">
                                            <h1 class="header-masthead colorIsWhite">{{vm.playerName}}</h1>
                                            <p class="masthead-detail h4"><span>{{vm.hoursPlayed}} Hours Played</span></p>
                                            <div id="profile-platforms" class="masthead-buttons button-group js-button-group">
                                                <button class="m-white m-sm  is-active">
                                                {{vm.profile.player.platform}} {{vm.profile.player.region}}
                                                </button>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="bg-crystal-dark profile-background">
                        <section id="stats-section" class="content-box page-wrapper">
                            <div class="row column">
                                <h1 class="h3 header">Career Stats</h1>


                                <div class="dropdown js-career-select" style="width:163px">
                                    <span class="dropdown_styled">{{vm.selectedHeroName}}</span>
                                    <select data-group-id="stats" class="js-career-select dropdown_original" ng-model="vm.selectedHero" ng-change="vm.searchHero(vm.selectedHero)"
                                        ng-options="item as item.name for item in vm.heroSelector track by item.name"></select>
                                </div>
                                <hr>


                                <div class="row">
                                    <div data-group-id="stats" data-category-id="0x02E00000FFFFFFFF" class="js-stats toggle-display is-active" style="position: relative; height: 100%;">
                                        <div class="column xs-12 md-6 xl-6">
                                            <div class="card-stat-block">
                                                <table class="data-table">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="2">General</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-if="vm.profile.length < 1">
                                                            <td>
                                                                <img ng-src="content/images/spinner2.gif" style="margin-right: 45%"></img>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Win Rate</td>
                                                            <td>{{(vm.profile.heroStats[vm.selectedHeroId].gamesWon / vm.profile.heroStats[vm.selectedHeroId].gamesPlayed)
                                                                * 100 | number : 2}}
                                                                <span ng-if="vm.profile.heroStats[vm.selectedHeroId].gamesWon">%</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Score</td>
                                                            <td>{{vm.profile.heroStats[vm.selectedHeroId].score}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>KDA</td>
                                                            <td>{{vm.profile.heroStats[vm.selectedHeroId].kda}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Time Played</td>
                                                            <td>{{vm.profile.heroStats[vm.selectedHeroId].timePlayed}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Total Medals</td>
                                                            <td>{{vm.profile.heroStats[vm.selectedHeroId].medalsGold + vm.profile.heroStats[vm.selectedHeroId].medalsSilver
                                                                + vm.profile.heroStats[vm.selectedHeroId].medalsBronze}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Gold</td>
                                                            <td>{{vm.profile.heroStats[vm.selectedHeroId].medalsGold}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Silver</td>
                                                            <td>{{vm.profile.heroStats[vm.selectedHeroId].medalsSilver}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Bronze</td>
                                                            <td>{{vm.profile.heroStats[vm.selectedHeroId].medalsBronze}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="column xs-12 md-6 xl-6">
                                            <div class="card-stat-block">
                                                <table class="data-table">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="2">Combat</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-if="vm.profile.length < 1">
                                                            <td>
                                                                <img ng-src="content/images/spinner2.gif" style="margin-right: 45%"></img>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Best Game - Elims</td>
                                                            <td>{{vm.profile.careerStats[vm.selectedHeroId].mostGameEliminations}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Best Game - Damage</td>
                                                            <td>{{vm.profile.careerStats[vm.selectedHeroId].mostGameDamageDone}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Best Game - Healing</td>
                                                            <td>{{vm.profile.careerStats[vm.selectedHeroId].mostGameHealingDone}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Damage Dealt</td>
                                                            <td>{{vm.profile.heroStats[vm.selectedHeroId].damageDone / vm.profile.heroStats[vm.selectedHeroId].timePlayed
                                                                | number: 2}}
                                                                <span ng-if="vm.profile.heroStats[vm.selectedHeroId]">/sec</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Healing Done</td>
                                                            <td>{{vm.profile.heroStats[vm.selectedHeroId].healingDone / vm.profile.heroStats[vm.selectedHeroId].timePlayed
                                                                | number: 2}}
                                                                <span ng-if="vm.profile.heroStats[vm.selectedHeroId].healingDone">/sec</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Eliminations</td>
                                                            <td>{{vm.profile.heroStats[vm.selectedHeroId].eliminations}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Multi-Kills</td>
                                                            <td>{{vm.profile.heroStats[vm.selectedHeroId].multiKills}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Objective Kills</td>
                                                            <td>{{vm.profile.heroStats[vm.selectedHeroId].objectiveKills}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                        </section>







                        <section id="top-heroes-section" class="content-box page-wrapper">
                            <div class="row column">
                                <h1 class="h3 header">Top Heroes</h1>
                                <!--<div class="dropdown js-career-select" style="width:261px"><span class="dropdown_styled">Time Played</span><select data-group-id="comparisons" class="js-career-select dropdown_original"><option value="overwatch.guid.0x0860000000000021">Time Played</option><option value="overwatch.guid.0x0860000000000039">Games Won</option><option value="overwatch.guid.0x08600000000003D1">Win Percentage</option><option value="overwatch.guid.0x086000000000002F">Weapon Accuracy</option><option value="overwatch.guid.0x08600000000003D2">Eliminations per Life</option><option value="overwatch.guid.0x0860000000000223">Kill Streak - Best</option><option value="overwatch.guid.0x0860000000000346">Multikill - Best</option><option value="overwatch.guid.0x086000000000039C">Objective Kills - Average</option></select></div>-->
                                <hr>


                                <div data-group-id="comparisons" data-category-id="overwatch.guid.0x0860000000000021" class="progress-category is-partial toggle-display is-active">

                                    <img ng-src="content/images/spinner2.gif" style="margin-right: 45%" ng-if="vm.profile.length < 1"></img>

                                    <div ng-repeat="hero in vm.topHeroes | limitTo: vm.limitTo">
                                        <div data-ng-overwatch-progress-percent="{{hero.percentage}}" class="progress-2 m-animated progress-category-item"><img ng-src="{{hero.image}}">
                                            <div class="bar-container">
                                                <div style="right: {{(hero.percentage - 1) * -100}}%;" class="bar 
                                                    {{hero.name === 'Soldier: 76'? 'Soldier76':hero.name}} 
                                                    {{hero.name === 'D.Va'? 'Dva':''}}
                                                    {{hero.name == vm.topHeroes[8].name? 'Lucio':''}}
                                                    {{hero.name === vm.topHeroes[12].name? 'Torbjorn':''}}">
                                                </div>
                                                <div class="bar-text">
                                                    <div class="title" ng-bind-html="hero.name"></div>
                                                    <div class="description">{{hero.playtime}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <button ng-if="vm.topHeroes.length > 1" ng-click="vm.seeAllHeroes()" data-label="Collapse List" data-show-more="true" class=" m-white m-sm u-center-block margin-sm margin-no-sides js-show-more-heroes">
                                    <span ng-show="vm.limitTo === 5">+ See All Heroes</span>
                                    <span ng-show="vm.limitTo === 30">Collapse List</span>
                                </button>
                            </div>


                        </section>
                        <section id="achievements-section" class="content-box page-wrapper">
                            <div class="row column">
                                <h1 class="h3 header">Achievements</h1>
                                <!--<div class="dropdown js-career-select" style="width:120px"><span class="dropdown_styled">General</span><select data-group-id="achievements" class="js-career-select dropdown_original"><option value="overwatch.achievementCategory.0">General</option><option value="overwatch.achievementCategory.1">Offense</option><option value="overwatch.achievementCategory.2">Defense</option><option value="overwatch.achievementCategory.3">Tank</option><option value="overwatch.achievementCategory.4">Support</option><option value="overwatch.achievementCategory.5">Maps</option></select></div>-->
                                <hr>
                                <div data-group-id="achievements" data-category-id="overwatch.achievementCategory.0" class="toggle-display is-active">

                                    <img ng-src="content/images/spinner2.gif" style="margin-right: 45%" ng-if="vm.profile.length < 1"></img>


                                    <ul class="row">
                                        <div class="column xs-6 sm-6 md-4 lg-3 xl-3" ng-repeat="achievement in vm.profile.achievements">
                                            <div class="media-card m-hoverable u-margin-bottom-md">
                                                <div class="container">
                                                    <img ng-src="https://static.watcher.gg/achievements/{{achievement.id}}.png" class="media">
                                                    <div class="content">{{achievement.name}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </ul>


                                </div>
                            </div>
                        </section>
                        </div>
                    </div>

                    <!--No community page on the japan site, go to homepage instead-->

                    <script type="text/javascript">
                        !function(root){
    root.messages = {"wallpaper":{"urlWide":{"title":"Wide","dimensions":"(2560 x 1440)"},"urlStandard":{"title":"Standard","dimensions":"(2048 x 1536)"},"urlTablet":{"title":"Tablet","dimensions":"(2048 x 2048)"},"urlMobile":{"title":"Mobile","dimensions":"(1080 x 1920)"},"urlFacebook":{"title":"Facebook","dimensions":"(851 x 315)"},"urlTwitter":{"title":"Twitter","dimensions":"(1500 x 500)"}},"img":{"hanzo":"https://d281jof1t1i5a5.cloudfront.net/img/hanzo-sm-114f060a6cc9cc1597a8ef3707fa827be79e1d9bc96847d20fd01f810faad9d4b30f99a91505ad1512e7c7f5d1749595bed6ab8ed836441db9caee21352b760a.png"}}
}(this)
                    </script>

                    <script type="text/javascript" src="https://d281jof1t1i5a5.cloudfront.net/vendor-4cee9aa89e0e98d5ae0ddd7b57432fb8414c2d20427e3efbf9df26e28347a9cb3f20b39fd5202cc3347ca0be26a0a2b8ef44fe864f37c60a1a0ac52708f96e95.js"></script>
                    <!--<script type="text/javascript" src="https://d281jof1t1i5a5.cloudfront.net/blizzard-bf31259f6cdb11961d35c2e8cb57ddb6912151dff4c072eff22c271e48a01b69b6d29d8377d622ca1108c47970f792f9db52aa5d9ff5ee20c5aa286cf454b8c2.js"></script>-->
                    <script type="text/javascript" src="https://d281jof1t1i5a5.cloudfront.net/app-432855da0786c850a9cf45b47a622fcb16c3674d8a77a3df5df9e08506f1eb3251e8626970a091e34b0bbc3978671a7a1d3f37ed477d016ec04ae9933923db64.js"></script>

                    <div class="blackout" blackout=""></div>
                    <div class="lightbox" lightbox="main">
                        <div class="lightbox-container">
                            <div class="lightbox-header"></div>
                            <div class="lightbox-body">
                                <div class="lightbox-content"></div>
                                <a href="#" class="lightbox-prev"></a>
                                <a href="#" class="lightbox-next"></a>
                            </div>
                            <div class="lightbox-footer"></div>
                        </div>
                        <div class="lightbox-close"></div>
                    </div>
                    <script async="async" src="//www.youtube.com/iframe_api/" type="text/javascript"></script>





                </div>
        </section>
        </div>
        <!--<div id="footer-push" style="height: 292px !important"></div>-->
    </div>