<footer id="footer">

    <div class="footer-links">

        <a href="http://www.curse.com" target="_blank" class="curse">Curse</a>
        <ul class="social">
            <li><a href="http://www.facebook.com/CurseNetwork" target="_blank" class="fb">Facebook</a></li>
            <li><a href="http://www.twitter.com/cursenetwork" target="_blank" class="tw">Twitter</a></li>
            <li><a href="http://www.youtube.com/curseentertainment" target="_blank" class="yt">Youtube</a></li>
            <li><a href="http://www.curse.com/newsletter" target="_blank" class="nl">Newsletter</a></li>
        </ul>
        <ul class="you">

            <li><a href="/login" id="login-link" class="sign-in">Sign In</a></li>

            <li><a href="/register" class="register" id="register-link">Register</a></li>

            <li><a href="http://www.curseinc.com/careers" target="_blank" class="careers">Careers</a></li>
            <li><a href="http://support.curse.com" target="_blank" class="help">Help</a></li>
        </ul>
        <ul class="more">
            <li><a href="http://www.curseinc.com/company" target="_blank" class="about">About Curse</a></li>
            <li><a href="http://www.curseinc.com/audience" target="_blank" class="advertise">Advertise</a></li>
            <li><a href="http://www.curse.com/terms" target="_blank" class="tos">Terms of Service</a></li>
            <li><a href="http://www.curse.com/privacy" target="_blank" class="privacy-policy">Privacy Policy</a></li>
        </ul>
        <span class="copyright">Copyright 2005-2016, Curse Inc.</span>

    </div>
    <a data-ga-click-event-tracking-category="Mobile View" id="responsive-footer-button" class="rs-link rs-link-to-responsive"
        style="display: none;">Mobile View</a>


</footer>