<footer id="footer">

    <div class="footer-links">

        <a href="https://playoverwatch.com/en-us/" target="_blank" class="curse">Curse</a>
        <ul class="social">
            <li><a href="http://www.facebook.com/myoverwatchstats" target="_blank" class="socicon-facebook">Facebook</a></li>
            <li><a href="https://twitter.com/myoverwatchstat" target="_blank" class="socicon-twitter">Twitter</a></li>
            <li><a href="http://www.instagram.com/myoverwatchstats" target="_blank" class="socicon-instagram">Instagram</a></li>
            <li><a href="" target="_blank" class="nl">Newsletter</a></li>
        </ul>
        <ul class="you">

            <li><a href="" id="login-link" class="sign-in">Sign In</a></li>

            <li><a href="" class="register" id="register-link">Register</a></li>

            <li><a href="" target="_blank" class="careers">Careers</a></li>
            <li><a href="" target="_blank" class="help">Help</a></li>
        </ul>
        <ul class="more">
            <li><a href="" target="_blank" class="socicon-linkedin">About Me</a></li>
            <li><a href="" target="_blank" class="advertise">Advertise</a></li>
            <li><a href="" target="_blank" class="tos">Terms of Service</a></li>
            <li><a href="" target="_blank" class="privacy-policy">Privacy Policy</a></li>
        </ul>
        <span class="copyright" style="margin-left:0%">Disclaimer: This is a non-profit personal 
            project to combined the best of a few Overwatch websites. Credit goes to www.curse.com, www.overpwn.com, www.playoverwatch.com, www.masteroverwatch.com, www.watcher.gg
        </span>

    </div>
    <a data-ga-click-event-tracking-category="Mobile View" id="responsive-footer-button" class="rs-link rs-link-to-responsive"
        style="display: none;">Mobile View</a>


</footer>