<!-- Wrapper-->
<div id="site" class="fixed single-column">
    <div id="site-main" style="margin-bottom: -292px !important">

        <!-- ng-class with current state name give you the ability to extended customization your view -->
        <div class="{{$state.current.name}}">

            <!-- Page wrapper -->
            <div ng-include="'app/layout/top-nav.html'"></div>

            <!-- Main view  -->
            <div ui-view></div>

            <!-- Footer -->
            <div ng-include="'app/layout/footer.html'"></div>

        </div>
        <!-- End page wrapper-->
        <div class="site-overlay"></div>
    </div>
</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- End wrapper-->