<!-- Header, ex: Logo, search, etc. -->
<header class="main" role="banner">

    <h1><a class="logo" href="#/home">overwatch</a></h1>
    <div class="fb-like" data-href="https://www.facebook.com/Myoverwatchstats" data-layout="button_count" data-action="like"
        data-show-faces="true" data-share="true">
    </div>

    <div class="social-links">
        <a href="https://www.facebook.com/Myoverwatchstats" class="socicon-facebook">
            <i></i>
        </a>
        <a href="https://twitter.com/myoverwatchstat" class="socicon-twitter">
            <i></i>
        </a>
        <a href="https://www.instagram.com/Myoverwatchstats" class="socicon-instagram">
            <i></i>
        </a>
    </div>

    <form class="primary-search b-search b-search-a" method="get" novalidate="novalidate">
        <span class="primary-search-field"><input type="search" name="search" ng-model="battleTag" placeholder="SEARCH" 
            data-autocomplete-search-url="/find" data-autocomplete-width="337" data-min-chars="3" data-max-results="15" 
            class="b-search-input ac_input" autocomplete="off" minlength="1" maxlength="25" required>
        </span>
        <span class="primary-search-submit"><input type="submit" value="Search" ng-click="vm.searchBattleTag(battleTag)"></span>

        <!--<div ng-show="vm.showMessage" style="background-color:#E8534F;opacity: 0.8;width: 84%;border-radius: 5px;">
            <b>
                <p class="masthead-detail" style="color: white;">
                &nbsp; Info: cannot find player by that ID, try again &nbsp;
                 </p>
                <b>
        </div>-->

    </form>

    <i class="menu-button pull-right"></i>
</header>

<!-- Above Content, Ex: Breadcrumbs -->
<section class="atf" role="complementary">
    <nav class="main p-nav p-nav-a j-sticky" role="navigation">
        <ul class="b-list b-list-a">
            
            <li id="nav-create-guide" class=" b-list-item p-nav-item">
                <a ui-sref="home.leaderBoards" class="">
                    <span class="b-list-label">Leaderboards</span>
              </a>
            </li>
            <li id="nav-heroes" class=" b-list-item p-nav-item">
                <a ui-sref="home.compare" class=""><span class="b-list-label">Compare Stats
                            </span></a>
            </li>  
            <li id="nav-patchnotes" class=" b-list-item p-nav-item">
                <a ui-sref="home.patchnotes" class=""><span class="b-list-label">Patch Notes
                            </span></a>
            </li>               
            <li id="nav-heroes" class=" b-list-item p-nav-item">
                <a ui-sref="home.heroes" class=""><span class="b-list-label">Heroes
                            </span></a>
            </li>
            <li id="nav-forums" class=" b-list-item p-nav-item">
                <a href="http://myoverwatchstats.com/forums" class="">
                    <span class="b-list-label">Forums</span>
                </a>
            </li>
            <li id="nav-view-guides" class=" b-list-item p-nav-item">
                <a href="https://www.amazon.com/gp/product/B017L187YG/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B017L187YG&linkCode=as2&tag=codenovels-20&linkId=eeace755ec6f38fc2333d180b8c9f014" class="">
                    <span class="b-list-label">Buy Overwatch</span>
                </a>
            </li>
        </ul>
        <a data-ga-click-event-tracking-category="Desktop View" id="responsive-topnav-button" class="rs-link rs-link-to-desktop">Desktop View</a>

    </nav>
</section>