<!-- Header, ex: Logo, search, etc. -->
<header class="main" role="banner">
    <h1><a class="logo" href="https://www.facebook.com/Myoverwatchstats-273701686317419">Overpwn</a></h1>
    <div class="social-links">
        <a href="https://www.facebook.com/Myoverwatchstats-273701686317419" class="fb">
            <i></i>
        </a>
        <a href="https://www.youtube.com/user/CrsOverpwn" class="yt">
            <i></i>
        </a>
        <a href="https://twitter.com/Overpwn" class="tw">
            <i></i>
        </a>
    </div>

    <form class="primary-search b-search b-search-a" action="/search" method="get" novalidate="novalidate">
        <span class="primary-search-field"><input type="search" name="search" placeholder="SEARCH BATTLE#TAG" data-autocomplete-search-url="/find" data-autocomplete-width="337" data-min-chars="3" data-max-results="15" class="b-search-input ac_input" autocomplete="off"></span>
        <span class="primary-search-submit"><input type="submit" value="Search"></span>
    </form>

    <i class="menu-button"></i><i class="search-button"></i>
</header>

<!-- Above Content, Ex: Breadcrumbs -->
<section class="atf" role="complementary">
    <nav class="main p-nav p-nav-a j-sticky" role="navigation">
        <ul class="b-list b-list-a">
            <li id="nav-news" class=" b-list-item p-nav-item">
                <a ui-sref="home.news" class=""><span class="b-list-label">News
                            </span></a>
            </li>
            <li id="nav-heroes" class=" b-list-item p-nav-item">
                <a ui-sref="home.heroes" class=""><span class="b-list-label">Heroes
                            </span></a>
            </li>
            <li id="nav-forums" class=" b-list-item p-nav-item">
                <a href="/forums" class=""><span class="b-list-label">Forums
                            </span></a>
            </li>
            <li id="nav-view-guides" class=" b-list-item p-nav-item">
                <a href="/guides" class=""><span class="b-list-label">View Guides
                            </span></a>
            </li>
            <li id="nav-create-guide" class=" b-list-item p-nav-item">
                <a href="/guides/create" class=""><span class="b-list-label">Create Guide
                            </span></a>
            </li>
            <li id="nav-wiki" class=" b-list-item p-nav-item">
                <a href="http://overwatch.gamepedia.com" class=""><span class="b-list-label">Wiki
                            </span></a>
            </li>
        </ul>
        <a data-ga-click-event-tracking-category="Desktop View" id="responsive-topnav-button" class="rs-link rs-link-to-desktop">Desktop View</a>

    </nav>
</section>