<div class="container">
    <div id="content" class="main content-container">
        <section class="primary-content" role="main">

            <div class="module page post-collection">
                <div class="listing-container listing-container-ul">
                    <div class="listing-body">
                        <ul class="listing listing-post post-listing" data-ajax-set-window-state="true" id="posts" data-row-selector=">li">



                            <li>
                                <article class="p-article p-article-a post post-new post-published post-list-item" itemscope="" itemtype="http://schema.org/Article">
                                    <meta itemprop="url" content="http://www.overpwn.com/news/184-more-than-7-million-overwatch-players-worldwide">
                                    <header class="p-article-header">
                                        <h2 class="p-article-title">
                                            <a href="http://us.battle.net/forums/en/overwatch/21446648/">
                                                <span></span>
                                            </a>
                                        </h2>
                                    </header>
                                    <section class="p-article-content u-typography-format" itemprop="articleBody" style="background: url(content/images/searchbackground.png); background-size: cover; height: 38em">

                                        <!--<img ng-src="content/images/spinner2.gif" style="   margin-bottom: -40%;
                                                                                            margin-left: 37%;"></img>
                                        <p class="masthead-detail h4" style="text-align: center; margin-top: 4em; color:#FFC70E; background-color: black; opacity: 0.9 ">
                                                            Searching...
                                        </p>-->


                                        <p style="margin-bottom: 13%">
                                            <form name="searchForm" class="primary-search b-search b-search-a" method="get" novalidate="novalidate" style="margin: 5%">

                                                <div style="text-align: center">
                                                    <!-- SEARCH FIELD -->
                                                    <span class="primary-search-field" style="padding: 3%;width: 70%;">                                                   
                                                        <input type="search" name="search" ng-model="battleTag" placeholder="LOOK UP PLAYER" data-autocomplete-search-url="/find" 
                                                            style=" width: 100%;font-size: 110%;" class="b-search-input ac_input" autocomplete="off" autofocus
                                                            minlength="1" maxlength="25" required>                                                   
                                                        </input>  
                                                   
                                                    </span>
                                                    <!-- SEARCH BUTTON -->
                                                    <span ng-if="!vm.spinner" class="primary-search-submit" style="padding: 3%;">
                                                        <input type="submit" value="Search" ng-click="vm.searchBattleTag(battleTag, searchForm)">
                                                    </span>

                                                    <span ng-if="vm.spinner" class="primary-search-submit" style="padding: 3%">
                                                        <input type="submit" value="Search" style="background-image: url('content/images/spinner3.gif')">
                                                    </span>


                                                    <!-- TIP MESSAGE -->
                                                    <div ng-show="vm.showMessage" style="background-color:#E8534F;opacity: 0.8;
                                                                                        margin-left: 8%;
                                                                                        width: 81.5%;
                                                                                        border-radius: 5px;
                                                                                        font-size: 80%;
                                                                                        margin-top: 1px;">
                                                        <b><p class="masthead-detail" style="color: white;">
                                                        &nbsp; Info: cannot find player by that ID, try again &nbsp;
                                                    </p><b>
                                                </div>

                                                <div ng-show="!vm.showMessage" style="background-color: #ffc70e;opacity: 0.8;
                                                                                        margin-left: 8%;
                                                                                        width: 81.5%;
                                                                                        border-radius: 5px;
                                                                                        font-size: 80%;
                                                                                        margin-top: 1px;">
                                                    <b><p class="masthead-detail" style="color: #212121;">
                                                        &nbsp; Tip: seach by typing the battletag e.g. "overwatch#1234" &nbsp;
                                                    </p><b>
                                                </div>

                                                </div>
                                            </form>
                                        </p>

                                    </section>
                                    <footer class="p-article-footer">
                                        <section class="p-article-meta">
                                            <div class="p-article-tags article-tags"></div>
                                        </section>
                                        <section class="p-article-interact">
                                            <div class="p-article-social">
                                                <div class="b-social b-social-a social-sharing">
                                                    <div class="social-share facebook">
                                                    </div>
                                                </div>
                                        </section>
                                    </footer>
                                </article>
                            </li>



                            <!--<li ng-repeat="note in vm.patchnotes">
                                <article class="p-article p-article-a post post-new post-published post-list-item" itemscope="" itemtype="http://schema.org/Article">

                                    <meta itemprop="url" content="http://www.overpwn.com/news/184-more-than-7-million-overwatch-players-worldwide">
                                    <header class="p-article-header">
                                        <h2 class="p-article-title">
				                            <a href="http://us.battle.net/forums/en/overwatch/21446648/">
                                               <span ng-bind-html="note.title"></span>
                                            </a>
			                            </h2>
                                    </header>

                                    <section class="p-article-content u-typography-format" itemprop="articleBody">
                                        <blockquote class="blizzard">
                                            <div class="quote-content">
                                                <div class="quote-body">
                                                    <div class="quote-source">Quote from <a class="quote-author" href="http://us.battle.net/forums/en/overwatch/21446648/"
                                                            rel="nofollow">Blizzard</a></div>
                                                    <p ng-bind-html="note.text"></p>

                                                </div>
                                            </div>
                                        </blockquote>
                                        <p></p>
                                    </section>




                                    <footer class="p-article-footer">
                                        <section class="p-article-meta">
                                            <div class="p-article-tags article-tags"></div>
                                        </section>
                                        <section class="p-article-interact">
                                            <div class="p-article-social">
                                                <div class="b-social b-social-a social-sharing">
                                                    <div class="social-share facebook">
                                                    </div>
                                                </div>
                                        </section>
                                    </footer>
                                </article>
                            </li>-->


                        </ul>
                        </div>
                    </div>
                </div>


        </section>
        </div>
    </div>

    <!-- Above Footer -->
    <div id="footer-push" style="></div>
</div>