<div class="container" style="max-width: 1600px;">
    <div id="content" class="main content-container">
<section class="primary-content" role="main">
    <div class="page-block newest-heroes-container">
        <div class="bg-color-blue-dark u-invert">
            <!--<section id="overview-section" class="bg-gibraltar u-nav-offset">
                        <div class="u-relative">
                            <div ng-if="vm.profileAvatar.length > 0" class="masthead-hero-image" ng-style="{'background-image':'url(https://d1u1mce87gyfbn.cloudfront.net/hero/'+vm.profileAvatar+'/overlay-portrait.png)'}"></div>
                            <div class="page-wrapper row content-box">


                                <p class="masthead-detail h4" style="text-align: center" ng-if="vm.profile.length < 1">
                                    LOADING...
                                </p>


                                <div class="column lg-8" ng-show="vm.profile.player">
                                    <div class="masthead">
                                        <div style="background-image:url(https://d1u1mce87gyfbn.cloudfront.net/game/playerlevelrewards/0x025000000000091C_Border.png)"
                                            class="player-level">
                                            <div class="u-vertical-center colorIsWhite">{{vm.profile.player.level}}</div>
                                        </div>
                                        <div class="masthead-player">
                                            <h1 class="header-masthead colorIsWhite">{{vm.playerName}}</h1>
                                            <p class="masthead-detail h4"><span>{{vm.profile.heroStats[0].gamesWon}} Games Won</span></p>
                                            <div id="profile-platforms" class="masthead-buttons button-group js-button-group">
                                                <button class="m-white m-sm {{vm.compActive}}" ng-click="vm.chooseMode('competitive-play', '1');vm.applyClass('competitive')">
                                                Competitive Play
                                                </button>
                                                <button class="m-white m-sm {{vm.quickActive}}" ng-click="vm.chooseMode('quick-play', '0');vm.applyClass('quick')">
                                                Quick Play
                                                </button>
                                                
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </section>-->
            <div class="bg-crystal-dark profile-background">
                <section id="stats-section" class="content-box page-wrapper">
                    <div class="row column">
                        </br>

                        <div class="row row-centered">
                            <div class="col-lg-2 col-centered" >
                                    <button class="btn btn-info" ng-click="vm.openModal()" ng-disabled="vm.players.length === 6">+ Add BattleTag</button>
                            </div>
                        </br>

                        <div class="row row-centered" style="min-height: 700px">

    	                </br>
                            <div class="col-xs-2 col-lg-2 col-centered col-max" style="padding-left: 0rem; padding-right: 0rem; margin-bottom:2px; margin-right:-1px" ng-if="vm.players.length > 0" >
                                <div class="card-stat-block">
                                    <table class="data-table">
                                        <thead>
                                            <tr>
                                                <th colspan="2" style="font-size: 2rem; border-top-left-radius: 0rem; border-top-right-radius: 0rem;padding-top: 149px;">COMPARISON</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <select  ng-model="vm.selectedMode" style="font-family: Futura,century gothic,arial,sans-serif;text-transform: uppercase;padding: 3px 120px 3px 6px;color: #333;"
                                                            ng-options="item as item.name for item in vm.modeSelector track by item.name">
                                                    </select>
                                                </td>
                                            </tr>
                                            
                                            <tr>
                                                <td style="color: #727272;">Record</td>

                                            </tr>
                                            <tr>
                                                <td style="color: #727272;">Win Rate</td>

                                            </tr>
                                            <tr>
                                                <td style="color: #727272;">Kills / Deaths / Assists</td>

                                            </tr>
                                            <tr>
                                                <td style="color: #727272;">Time Played</td>

                                            </tr>
                                            <tr>
                                                <td style="color: #727272;">Most Eliminations</td>

                                            </tr>
                                            <tr>
                                                <td style="color: #727272;">Most Damage Done</td>

                                            </tr>
                                            <tr>
                                                <td style="color: #727272;">Most Healing Done</td>

                                            </tr>
                                            <tr>
                                                <td style="color: #727272;">Total Final Blows</td>

                                            </tr>
                                            <tr>
                                                <td style="color: #727272;">Total Solo Kills</td>

                                            </tr>
                                            <tr>
                                                <td style="color: #727272;">Total Objective Kills</td>

                                            </tr>
                                            <tr>
                                                <td style="color: #727272;">Average Eliminations</td>

                                            </tr>
                                            <tr>
                                                <td style="color: #727272;">Average Deaths</td>

                                            </tr>
                                            <tr>
                                                <td style="color: #727272;">Average Final Blows</td>

                                            </tr>
                                            <tr>
                                                <td style="color: #727272;">Average Solo Kills</td>

                                            </tr>
                                            <tr>
                                                <td style="color: #727272;">Average Objective Kills</td>

                                            </tr>
                                            <tr>
                                                <td style="color: #727272;">Average Damage Done</td>

                                            </tr>
                                            <tr>
                                                <td style="color: #727272;">Average Healing Done</td>

                                            </tr>
                                            <tr>
                                                <td style="color: #727272;">World Rank #</td>

                                            </tr>
                                            <tr>
                                                <td style="color: #727272;">Rank Rating</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-xs-2 col-centered col-fixed" style="padding-left: 0rem; padding-right: 0rem; margin: 2px" ng-repeat="player in vm.players">
                                <div class="card-stat-block">
                                    <table class="data-table">
                                        <thead>
                                            <tr>
                                                <th style="font-size: 2rem; border-top-left-radius: 0rem; border-top-right-radius: 0rem" colspan="1"><img ng-src="http://static.watcher.gg/portraits/{{player[vm.selectedMode.id].player.portrait}}.png" style="margin-left: 10%;margin-bottom:5%"></img>{{player.name}}
                                                    <a class="pull-right" style="color: red" ng-click="vm.removePlayer(player)">x</a> </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <select style="font-family: Futura,century gothic,arial,sans-serif;text-transform: uppercase;padding: 3px 33% 3px 6px;color: #333;max-width:180px;min-width: 180px;" 
                                                        ng-model="player[vm.selectedMode.id].selectedHero" ng-options="item as item.name for item in player[vm.selectedMode.id].heroSelector | orderBy:'name' track by item.name"
                                                        ng-change="vm.searchForIndexOfSelectedHero(player[vm.selectedMode.id], player[vm.selectedMode.id].selectedHero)">
                                                    </select>
                                                </td>
                                            </tr>
                                            
                                            <tr>
                                                <!-- Record -->
                                                <td style="text-align:left">{{player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].gamesWon}} / {{player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].gamesPlayed - player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].gamesWon}} (W-L)
                                                </td>
                                                
                                            </tr>
                                            <tr>
                                                <!-- Win Rate -->
                                                <td style="text-align:left">{{(player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].gamesWon/player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].gamesPlayed)* 100 | number: 2}}%</td>

                                            </tr>
                                            <tr>
                                                <!-- KDA -->
                                                <td style="text-align:left">{{player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].finalBlows}} / {{player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].deaths}} / {{player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].assists}}</td>

                                            </tr>
                                            <tr>
                                                <!-- Time Played -->
                                                <td style="text-align:left">{{player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].timePlayed / 3600 | number: 2}} Hours</td>

                                            </tr>
                                            <tr>
                                                <!-- Most Eliminations -->
                                                <td style="text-align:left">{{player[vm.selectedMode.id].careerStats[player[vm.selectedMode.id].selectedHeroIndex].mostGameEliminations}}</td>

                                            </tr>
                                            <tr>
                                                <!-- Most Damage Done -->
                                                <td style="text-align:left">{{player[vm.selectedMode.id].careerStats[player[vm.selectedMode.id].selectedHeroIndex].mostGameDamageDone}}</td>

                                            </tr>
                                            <tr>
                                                <!-- Most Healing Done -->
                                                <td style="text-align:left">{{player[vm.selectedMode.id].careerStats[player[vm.selectedMode.id].selectedHeroIndex].mostGameHealingDone}}</td>

                                            </tr>
                                            <tr>
                                                <!-- Total Final Blows -->
                                                <td style="text-align:left">{{player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].finalBlows}}</td>

                                            </tr>
                                            <tr>
                                                <!-- Total Solo Kills -->
                                                <td style="text-align:left">{{player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].soloKills}}</td>

                                            </tr>
                                            <tr>
                                                <!-- Total Objective Kills -->
                                                <td style="text-align:left">{{player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].objectiveKills}}</td>

                                            </tr>
                                            <tr>
                                                <!-- Average Eliminations -->
                                                <td style="text-align:left" ng-if="player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].gamesPlayed > 0">{{player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].eliminations/player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].gamesPlayed | number: 0}}</td>
                                                <td style="text-align:left" ng-if="player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].gamesPlayed === 0">0</td>
                                            </tr>
                                            <tr>
                                                <!-- Average Deaths -->
                                                <td style="text-align:left" ng-if="player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].gamesPlayed > 0">{{player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].deaths/player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].gamesPlayed | number: 0 }}</td>
                                                <td style="text-align:left" ng-if="player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].gamesPlayed === 0">0</td>
                                            </tr>
                                            <tr>
                                                <!-- Average Final Blows -->
                                                <td style="text-align:left" ng-if="player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].gamesPlayed > 0">{{player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].finalBlows/player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].gamesPlayed | number: 0 }}</td>
                                                <td style="text-align:left" ng-if="player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].gamesPlayed === 0">0</td>
                                            </tr>
                                            <tr>
                                                <!-- Average Solo Kills -->
                                                <td style="text-align:left" ng-if="player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].gamesPlayed > 0">{{player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].soloKills/player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].gamesPlayed | number: 0 }}</td>
                                                <td style="text-align:left" ng-if="player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].gamesPlayed === 0">0</td>
                                            </tr>
                                            <tr>
                                                <!-- Average Objective Kills -->
                                                <td style="text-align:left" ng-if="player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].gamesPlayed > 0">{{player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].objectiveKills/player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].gamesPlayed | number: 0}}</td>
                                                <td style="text-align:left" ng-if="player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].gamesPlayed === 0">0</td>
                                            </tr>
                                            <tr>
                                                <!-- Average Damage Done-->
                                                <td style="text-align:left" ng-if="player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].gamesPlayed > 0">{{player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].damageDone/player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].gamesPlayed | number: 0}}</td>
                                                <td style="text-align:left" ng-if="player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].gamesPlayed === 0">0</td>
                                            </tr>
                                            <tr>
                                                <!-- Average Healing Done -->
                                                <td style="text-align:left" ng-if="player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].gamesPlayed > 0">{{player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].healingDone/player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].gamesPlayed | number: 0}}</td>
                                                <td style="text-align:left" ng-if="player[vm.selectedMode.id].heroStats[player[vm.selectedMode.id].selectedHeroIndex].gamesPlayed === 0">0</td>
                                            </tr>
                                            <tr>
                                                <!-- World Rank # -->
                                                <td style="text-align:left">{{player[vm.selectedMode.id].competitiveRank.rank}}</td>

                                            </tr>
                                            <tr>
                                                <!-- Rank Rating -->
                                                <td style="text-align:left">{{player[vm.selectedMode.id].competitiveRank.competitive_rank}}</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!--<div class="col-xs-1 col-centered col-fixed" style="padding-left: 0rem; padding-right: 0rem;margin-left: 7px;height: 100%; text-align: center">
                                    <button class="btn btn-info" style="margin-top: -360%;" ng-click="vm.openModal()">+ Add</button>
                            </div>-->

                        </div>
                </section>


                </div>
            </div>

            <!--No community page on the japan site, go to homepage instead-->

            <script type="text/javascript">
                        !function(root){
    root.messages = {"wallpaper":{"urlWide":{"title":"Wide","dimensions":"(2560 x 1440)"},"urlStandard":{"title":"Standard","dimensions":"(2048 x 1536)"},"urlTablet":{"title":"Tablet","dimensions":"(2048 x 2048)"},"urlMobile":{"title":"Mobile","dimensions":"(1080 x 1920)"},"urlFacebook":{"title":"Facebook","dimensions":"(851 x 315)"},"urlTwitter":{"title":"Twitter","dimensions":"(1500 x 500)"}},"img":{"hanzo":"https://d281jof1t1i5a5.cloudfront.net/img/hanzo-sm-114f060a6cc9cc1597a8ef3707fa827be79e1d9bc96847d20fd01f810faad9d4b30f99a91505ad1512e7c7f5d1749595bed6ab8ed836441db9caee21352b760a.png"}}
}(this)
                    </script>

            <script type="text/javascript" src="https://d281jof1t1i5a5.cloudfront.net/vendor-4cee9aa89e0e98d5ae0ddd7b57432fb8414c2d20427e3efbf9df26e28347a9cb3f20b39fd5202cc3347ca0be26a0a2b8ef44fe864f37c60a1a0ac52708f96e95.js"></script>
            <!--<script type="text/javascript" src="https://d281jof1t1i5a5.cloudfront.net/blizzard-bf31259f6cdb11961d35c2e8cb57ddb6912151dff4c072eff22c271e48a01b69b6d29d8377d622ca1108c47970f792f9db52aa5d9ff5ee20c5aa286cf454b8c2.js"></script>-->
            <script type="text/javascript" src="https://d281jof1t1i5a5.cloudfront.net/app-432855da0786c850a9cf45b47a622fcb16c3674d8a77a3df5df9e08506f1eb3251e8626970a091e34b0bbc3978671a7a1d3f37ed477d016ec04ae9933923db64.js"></script>

            <div class="blackout" blackout=""></div>
            <div class="lightbox" lightbox="main">
                <div class="lightbox-container">
                    <div class="lightbox-header"></div>
                    <div class="lightbox-body">
                        <div class="lightbox-content"></div>
                        <a href="#" class="lightbox-prev"></a>
                        <a href="#" class="lightbox-next"></a>
                    </div>
                    <div class="lightbox-footer"></div>
                </div>
                <div class="lightbox-close"></div>
            </div>
            <script async="async" src="//www.youtube.com/iframe_api/" type="text/javascript"></script>





        </div>
</section>
</div>
    </div>